<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Contact Us</title>
  <style>
    .body{
      margin-top: 50px;
    }
  </style>

</head>

<body>

  {% include "hospital/navbar.html" %}
  <br><br><br><br>

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback Through Social Media!</h3>
    
    
  </center>
  {% include "hospital/footer.html" %}
</body>
</html>
